parameters:
    bootstrapFiles:
        - phpstan.autoload.inc.php
    excludePaths:
        - ../src/*/Tests/*
    universalObjectCratesClasses:
        - Lunr\Corona\Request
        - Lunr\Corona\FrontController
