parameters:
    bootstrapFiles:
        - test.bootstrap.inc.php
    excludePaths:
        - ../src/*/Tests/*
    universalObjectCratesClasses:
        - Lunr\Corona\Request
        - Lunr\Corona\FrontController
