<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true">
    <testsuites>
        <testsuite name="Lunr Testsuite">
            <file>tests/system/EnvironmentTest.php</file>
            <file>src/Lunr/Core/Tests/RequestBaseTest.php</file>
            <file>src/Lunr/Core/Tests/RequestStoreTest.php</file>
            <file>src/Lunr/Core/Tests/RequestGetTest.php</file>
            <file>src/Lunr/Core/Tests/ResponseTest.php</file>
            <file>src/Lunr/Core/Tests/ErrorEnumTraitTest.php</file>
            <file>src/Lunr/Core/Tests/ControllerTest.php</file>
            <file>src/Lunr/Core/Tests/FrontControllerBaseTest.php</file>
            <file>src/Lunr/Core/Tests/FrontControllerGetTest.php</file>
            <file>src/Lunr/Core/Tests/FrontControllerDispatchTest.php</file>
            <file>src/Lunr/Core/Tests/ViewBaseTest.php</file>
            <file>src/Lunr/Core/Tests/ViewHelpersTest.php</file>
            <file>src/Lunr/Shadow/Tests/CliRequestBaseTest.php</file>
            <file>src/Lunr/Shadow/Tests/CliRequestGetTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <directory>../src/Lunr/Core/Tests/</directory>
                <directory>../src/Lunr/Shadow/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
