<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            cacheResult="false"
            forceCoversAnnotation="true"
            colors="true"
            verbose="true">
    <php>
        <ini name="zend.enable_gc" value="1" />
        <env name="LANGUAGE" value="" force="true" />
    </php>
    <testsuites>
        <testsuite name="Corona">
            <file>../src/Lunr/Corona/Tests/ControllerBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/ControllerResultTest.php</file>
            <file>../src/Lunr/Corona/Tests/FrontControllerBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/FrontControllerGetTest.php</file>
            <file>../src/Lunr/Corona/Tests/FrontControllerLookupTest.php</file>
            <file>../src/Lunr/Corona/Tests/FrontControllerRouteTest.php</file>
            <file>../src/Lunr/Corona/Tests/FrontControllerDispatchTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestResultHandlerBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestResultHandlerSetResultTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestResultHandlerHandleRequestTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestMagicGetTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestGetDataTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestSetMockValuesTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestAddMockValuesTest.php</file>
            <file>../src/Lunr/Corona/Tests/ResponseBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/ResponseGetTest.php</file>
            <file>../src/Lunr/Corona/Tests/ResponseSetTest.php</file>
            <file>../src/Lunr/Corona/Tests/ViewBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/ViewHelpersTest.php</file>
            <file>../src/Lunr/Corona/Tests/HTMLViewBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/HTMLViewHelpersTest.php</file>
            <file>../src/Lunr/Corona/Tests/JsonViewBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/JsonViewPrintTest.php</file>
            <file>../src/Lunr/Corona/Tests/JsonViewPrintFatalErrorTest.php</file>
            <file>../src/Lunr/Corona/Tests/JsonViewPrintExceptionTest.php</file>
            <file>../src/Lunr/Corona/Tests/CompactJsonViewBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestParserBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/RequestParserParseRequestTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseRequestTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseSuperGlobalTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParsePostTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseServerTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseGetTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseFilesTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseCookieTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseRawDataTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserAcceptTest.php</file>
            <file>../src/Lunr/Corona/Tests/WebRequestParserParseCommandLineArgumentsTest.php</file>
            <file>../src/Lunr/Corona/Tests/MsgpackViewBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/MsgpackViewPrintTest.php</file>
            <file>../src/Lunr/Corona/Tests/MsgpackViewPrintFatalErrorTest.php</file>
            <file>../src/Lunr/Corona/Tests/MsgpackViewPrintExceptionTest.php</file>
            <file>../src/Lunr/Corona/Tests/ModelBaseTest.php</file>
            <file>../src/Lunr/Corona/Tests/ModelCacheTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/HttpExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/HttpExceptionNoAppCodeTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/BadGatewayExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/BadRequestExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/BadRequestExceptionInputDataTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/ConflictExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/FailedDependencyExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/ForbiddenExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/InternalServerErrorExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/MethodNotAllowedExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/NotFoundExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/NotImplementedExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/PreconditionFailedExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/RequestedRangeNotSatisfiableExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/UnauthorizedExceptionBaseTest.php</file>
            <file>../src/Lunr/Corona/Exceptions/Tests/UnprocessableEntityExceptionBaseTest.php</file>
        </testsuite>
        <testsuite name="Shadow">
            <file>../src/Lunr/Shadow/Tests/CliRequestParserBaseTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseRequestTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseSuperGlobalTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParsePostTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseServerTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseGetTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseCookieTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseFilesTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseRawDataTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserAcceptTest.php</file>
            <file>../src/Lunr/Shadow/Tests/CliRequestParserParseCommandLineArgumentsTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <directory>../src/Lunr/Corona/Tests/</directory>
                <directory>../src/Lunr/Corona/Exceptions/Tests/</directory>
                <directory>../src/Lunr/Shadow/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"/>
    </logging>
</phpunit>
